<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-note2 icon-gradient bg-tempting-azure"></i>
            </div>
            <div>
                Casos
                <div class="page-title-subheading">Todos os casos registados</div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div style="float: left; padding-right: 60px;">
            <h5>Filtro por severidade</h5>

            <div role="group" class="btn-group" style="padding-bottom: 10px;" data-toggle="buttons">
                <button type="button" onclick="_case.viewController.filterBySeverity('case-high')"
                    class="btn btn-danger" style="color:black;">Suspeitos
                </button>
                <button type="button" onclick="_case.viewController.filterBySeverity('case-med')"
                    class="btn btn-warning">Médio Risco
                </button>
                <button type="button" onclick="_case.viewController.filterBySeverity('case-low')"
                    class="btn btn-success" style="color:black;">Baixo Risco
                </button>
            </div>
        </div>


        <div style="padding-left: 30px">
            <h5>Filtro por estado</h5>
            <div role="group" class="btn-group" style="padding-bottom: 10px" data-toggle="buttons">

                <button type="button" onclick="_case.viewController.filterBySeverity('em-fila')"
                    class="btn btn-warning caseFilterStatus-em-fila">Em Fila
                </button>
                <button type="button" onclick="_case.viewController.filterBySeverity('processado')"
                    class="btn btn-success caseFilterStatus-submited" style="color:black;">Submetido Para Analise
                </button>
            </div>
        </div>


        <div class="main-card mb-3 card">
            <div class="card-header">Processos
                <div class="btn-actions-pane-right">
                    <div role="group" class="btn-group-sm btn-group">
                        <button class="active btn btn-focus">Mais recentes</button>
                        <button class="btn btn-focus">Mês actual</button>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">Score</th>
                            <th class="text-center">Id do Caso</th>
                            <th class="text-center">Estado</th>
                            <th>Descrição</th>
                            <th class="text-center">Pais</th>
                            <th class="text-center">Cidade</th>
                            <th class="text-center">Data abertura</th>
                            <!-- <th class="text-center">Acções</th> -->
                        </tr>
                    </thead>
                    <tbody id="reportedCases">
                        <!--<tr>
                            <td class="text-center text-muted">
                                <div class="case-id case-high"> #80 </div>
                            </td>
                            <td class="text-center text-muted">100</td>
                            <td>
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <!--
                                        <div class="widget-content-left mr-3">
                                            <div class="widget-content-left">
                                                <img width="40" class="rounded-circle" src="assets/images/avatars/4.jpg" alt="">
                                            </div>
                                        </div>
                                        
                                        <div class="widget-content-left flex2">
                                            <div class="widget-heading">Alto risco</div>
                                            <div class="widget-subheading opacity-7">Declaração de importação inconsistente</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">Luanda</td>
                            <td class="text-center"></td>
                            <td class="text-center">
                                <button type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm">Detalhes</button>
                            </td>
                        </tr>

                        <tr>
                            <td class="text-center text-muted">
                                <div class="case-id case-med"> #60 </div>
                            </td>
                            <td class="text-center text-muted"> 347</td>
                            <td>
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <!--
                                        <div class="widget-content-left mr-3">
                                            <div class="widget-content-left">
                                                <img width="40" class="rounded-circle" src="assets/images/avatars/3.jpg" alt="">
                                            </div>
                                        </div>
                                        
                                        <div class="widget-content-left flex2">
                                            <div class="widget-heading">Risco Médio</div>
                                            <div class="widget-subheading opacity-7">Fornecedor não declarado</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">Caxito</td>
                            <td class="text-center"></td>
                            <td class="text-center">
                                <button type="button" id="PopoverCustomT-2" class="btn btn-primary btn-sm">Detalhes</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-muted">
                                <div class="case-id case-low"> #47 </div>
                            </td>
                            <td class="text-center text-muted">321</td>
                            <td>
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <!--
                                        <div class="widget-content-left mr-3">
                                            <div class="widget-content-left">
                                                <img width="40" class="rounded-circle" src="assets/images/avatars/2.jpg" alt="">
                                            </div>
                                        </div>
                                        
                                        <div class="widget-content-left flex2">
                                            <div class="widget-heading">Risco baixo</div>
                                            <div class="widget-subheading opacity-7">Contribuinte inexistente</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">Luanda</td>
                            <td class="text-center">
                                <div class="badge badge-danger"></div>
                            </td>
                            <td class="text-center">
                                <button type="button" id="PopoverCustomT-3" class="btn btn-primary btn-sm">Detalhes</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-muted">
                                <div class="case-id case-high"> #73 </div>
                            </td>
                            <td class="text-center text-muted">55</td>
                            <td>
                                <div class="widget-content p-0">
                                    
                                    <div class="widget-content-wrapper">
                                        <!--
                                        <div class="widget-content-left mr-3">
                                            <div class="widget-content-left">
                                                <img width="40" class="rounded-circle" src="assets/images/avatars/1.jpg" alt=""></div>
                                        </div>
                                        
                                        <div class="widget-content-left flex2">
                                            <div class="widget-heading">Alto Risco</div>
                                            <div class="widget-subheading opacity-7">Fornecedor Inexistente</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">Benguela</td>
                            <td class="text-center">
                                <div class="badge badge-info"></div>
                            </td>
                            <td class="text-center">
                                <button type="button" id="PopoverCustomT-4" class="btn btn-primary btn-sm">Detalhes</button>
                            </td>
                        </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>