    
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-vector icon-gradient bg-tempting-azure"></i>
                </div>
                <div>
                    Nova Análise
                    <div class="page-title-subheading">Criação e analise de um novo caso</div>

                    
                    <div class="diagramFilterInput">
                        <input
                            id="filteringText" 
                            type="text" 
                            placeholder="Digite o texto de busca" 
                            onkeydown="diagram.viewController.filterCaseForNetwork()"
                            />

                        <button onclick="diagram.viewController.filterCaseForNetwork()">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    
                    <!--

                    -->

                </div>
            </div>   
        </div>
        
    </div>            
    
    <div class="row" class="row" id="localDiagrama"></div>

    <div id="menuContexto">
       
        <div class="opcoesContexto">
            <div id="selectedNodeName"></div>
            <div class="context-action" 
                onclick="diagram.viewController.renderObjectLinks()"
                >Relacionamentos</div>
            <div
                onclick="view.navigation.callConfigWithHandler('analyses-config',pannel.viewController.configuration)"
                class="context-action">Configurar analise</div>
            <div class="context-action">Importações</div>
        </div>
       
        
    </div>
