
.case-id{

    border:2px solid;
    padding:3px;
    border-radius: 20px;
    width:70px;
    margin:0 auto;
    font-weight: bold;

} 

.case-high{

    border-color: red;
    background-color: #ff000061;
    color: black;

}
.case-med{

    border-color: yellow;
    background-color: lightyellow;
    
}
.case-low{

    border-color: green;
    background-color: lightgreen;
    
}

.caseFilterStatus-em-fila{

    width: 80px;
    height: 35px;
    background-color: #5e8abc;
    border-color: #5e8abc;
}

.caseFilterStatus-em-fila-sucess{

    background-color: #3876c233;
    border-color: #3876c233;
}

.caseFilterStatus-submited{

    background-color: #3876c233;
    border-color: #3876c233;
}

.caseFilterStatus-submited-sucess{

    color: #fff;
    background-color: #d38b06;
    border-color: #d38b06;
}


.diagramFilterInput{

    margin-top: 15px;

}

.diagramFilterInput button{
    border: none;
    margin-left: -40px;
    background: no-repeat;
}


.diagramFilterInput input[type=text]{
    padding-right: 30px;
}