.caseRow{
    cursor: pointer;
}


.lastUpdate{
    color:lightgray;
    position: absolute;
    display: flex;
    width: 240px;
    font-size: 11px;
    /*margin-top: -12px;*/
    margin-top: 28px;
    margin-left: 10px;
    text-shadow: 0px 0px 1px black, 0px 0px 1px black;
    font-weight: bold;
}


#updatingTimer{

    color:white;
    margin-top: 29px;
    position: absolute;
    margin-left: 90px;
    font-size: 11px;
}


/*
Config View CSS
*/

.configCloseBtn{
    position: absolute;
    left: 13px;
    color:white;
    background:red;
    padding: 8px;
    font-size: 13px;
    border-radius: 3px;
}

.configHeader{
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
    background: grey;
    color: white;
}

.entityTables{

    width: 100%;
    margin: 0 auto;

    overflow-y: scroll;

    border-left: none;
    border-right: none;
    border-bottom: none;
    box-shadow: inset 1px -3px 1px lightgray, inset 0px 3px 1px lightgray;

    height: 130px;
    padding: 10px;

    border-radius: 6px;
    width: 96%;

}

.entityTables td{
    padding-left: 15px;
}

.fieldRuleGrupo{
    border: 1px solid#b7aeae;
    min-height: 58px;
    width: 90%;
    margin: 20px auto;
    border-radius: 6px;
    padding-bottom: 5px;
    overflow: scroll;
}

#listOfRules{

    height: 70%;
    overflow-y: scroll;

    border-left: none;
    border-right: none;
    border-bottom: none;
    box-shadow: inset 1px -3px 1px lightgray, inset 0px 3px 1px lightgray;

    border-radius: 6px;
    width: 96%;
    margin: 0 auto;

}

h6{
    text-decoration: underline;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    padding-top: 20px;
}

#rulesContent{
    height: 50%;
    visibility: hidden;
    margin-top: 17px;
}

.fieldRuleGrupo .comparadorRule{
    /*margin-left:10px;
    margin-top:10px;*/
}
.fieldRuleGrupo input[type=text]{
    /*margin-top:10px;
    margin-left:10px;*/
    width: 76%;
}

.fieldRuleGrupo .rulesTable td{
    padding-left: 5px;
}

.fieldRuleGrupo legend{
    min-width: 100px;
}

.fieldSetTitle{
    background-color:white;
    margin-left: 8px;
    display: block;
    padding: 5px;
}


.btnAddRule{
    cursor: pointer;
    display: flex;
    border: 1px solid;
    border-radius: 4px;
    margin-top:5px;
    width: 30px;
    height: 30px;
    color: white;
    background-color: green;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

}

.submitButton{

    cursor: pointer;
    display: flex;
    border: 1px solid;
    border-radius: 4px;
    margin-top:5px;
    color: white;
    background-color: green;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;


}

.removeButton{
    
    background-color: red !important;
    width: 20px;
    height: 20px;
    font-size: 10px;

}


/* Fim config view CSS */



/* Casos Estilos */

.processado, .em-fila{

    padding:5px;
    font-size:11px;
    color: white;
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
    width: 150px;
    display: block;
    margin: 0 auto;

}

.processado{
    background-color: #3876c233;
}

.em-fila{
    background-color: #5e8abc;
}


/* Fim Casos Estilos */


