#localDiagrama{
    height: 82%; 
    margin-top: -30px;
}


.opcoesContexto{
    font-weight: bold;
}

#menuContexto, .menuContexto{


    position: absolute;
    width: 180px;
    height: 150px;
    top: 100px;
    display: none;
    background-color: lightgrey;
    box-shadow: 1px 1px 1pxblack;
    border-radius: 6px;

}

#menuContextoCasoDatatable{
    box-shadow: 2px 3px 1px gray;
}

#selectedNodeName, #selectedCase{
    border-bottom: 1px solid grey; 
    padding: 5px; 
    background: darkgrey; 
    color: white;
}


.context-action{
    border-bottom: 1px solid grey; 
    padding: 5px; 
    cursor:pointer;
}

