
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-network icon-gradient bg-tempting-azure"></i>
                </div>
                <div>
                    Configuração de Workflow
                    <div class="page-title-subheading">Configuração ou edição o workflow</div>
                                    </div>
            </div>   
        </div>
    </div>            
    
    <div class="row">
        
    </div>
