
    <div class="app-page-title">
        <div class="page-title-wrapper">
               
        </div>
    </div>            
    <div class="row">
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-midnight-bloom">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Nº de casos</div>
                        <div class="widget-subheading">Abertos, em Análise e fechados</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span id="totalCases">--</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-arielle-smile">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Nº de Importações</div>
                        <div class="widget-subheading">Importações para Análise</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span id="totalImportacoes">--</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-grow-early">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Nº de Importadores</div>
                        <div class="widget-subheading">Para análise</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span id="totalImportadores">--</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-xl-none d-lg-block col-md-6 col-xl-4">
            <div class="card mb-3 widget-content bg-premium-dark">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading">Products Sold</div>
                        <div class="widget-subheading">Revenue streams</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-warning"><span>$14M</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">


        <!-- Tabela de casos por origem -->
        <div class="col-md-4">

            <div class="">
                <div class="main-card mb-3 card">
                    <div class="card-body"><h5 class="card-title">Casos por Categoria</h5>

                        <ul class="list-group">
                            <li class="list-group-item">Casos sem classificação</li>
                        </ul>

                        <ul class="list-group" style="margin-top:20px;">
                            <li class="list-group-item-danger list-group-item">Alto Risco</li>
                            <li class="list-group-item-warning list-group-item">Médio Risco</li>
                            <li class="list-group-item-success list-group-item">Baixo Risco</li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-8">
            <div class="main-card mb-3 card">
                <div class="card-header">Alerta de casos
                    <div class="btn-actions-pane-right">
                        <div role="group" class="btn-group-sm btn-group">
                            <button class="active btn btn-focus">Mais recentes</button>
                            <button class="btn btn-focus">Mês actual</button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="text-center">Score</th>
                            <th class="text-center">Id do Caso</th>
                            <th>Descrição</th>
                            <th class="text-center">País</th>
                            <th class="text-center">Cidade</th>
                            <th class="text-center">Data abertura</th>
                        </tr>
                        </thead>
                        <tbody id="reportedCases">

                        
                        <!--
                        <tr>
                            <td class="text-center text-muted">
                                <div class="case-id case-high"> #80 </div>
                            </td>
                            <td class="text-center text-muted">100</td>
                            <td>
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">

                                        <div class="widget-content-left flex2">
                                            <div class="widget-heading">Alto risco</div>
                                            <div class="widget-subheading opacity-7">Declaração de importação inconsistente</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">Luanda</td>
                            <td class="text-center">20/08/2020</td>
                        </tr>
                        -->
                        <!--
                        <tr>
                            <td class="text-center text-muted">
                                <div class="case-id case-med"> #60 </div>
                            </td>
                            <td class="text-center text-muted"> 347</td>
                            <td>
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">

                                        <div class="widget-content-left flex2">
                                            <div class="widget-heading">Risco Médio</div>
                                            <div class="widget-subheading opacity-7">Fornecedor não declarado</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">Caxito</td>
                            <td class="text-center">10/08/2020</td>
                        </tr>
                        <tr>
                            <td class="text-center text-muted">
                                <div class="case-id case-low"> #47 </div>
                            </td>
                            <td class="text-center text-muted">321</td>
                            <td>
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">

                                        <div class="widget-content-left flex2">
                                            <div class="widget-heading">Risco baixo</div>
                                            <div class="widget-subheading opacity-7">Contribuinte inexistente</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">Luanda</td>
                            <td class="text-center">29/07/2020</td>
                        </tr>
                        <tr>
                            <td class="text-center text-muted">
                                <div class="case-id case-high"> #73 </div>
                            </td>
                            <td class="text-center text-muted">55</td>
                            <td>
                                <div class="widget-content p-0">
                                    
                                    <div class="widget-content-wrapper">

                                        <div class="widget-content-left flex2">
                                            <div class="widget-heading">Alto Risco</div>
                                            <div class="widget-subheading opacity-7">Fornecedor Inexistente</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">Benguela</td>
                            <td class="text-center">14/07/2020</td>
                        </tr>
                        -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-3">
            <div class="card-shadow-danger mb-3 widget-chart widget-chart2 text-left card">
                <div class="widget-content">
                    <div class="widget-content-outer">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left pr-2 fsize-1">
                                <div class="widget-numbers mt-0 fsize-3 text-danger">71%</div>
                            </div>
                            <div class="widget-content-right w-100">
                                <div class="progress-bar-xs progress">
                                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="71" aria-valuemin="0" aria-valuemax="100" style="width: 71%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content-left fsize-1">
                            <div class="text-muted opacity-6">Suspeitos de Fraudes</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="card-shadow-success mb-3 widget-chart widget-chart2 text-left card">
                <div class="widget-content">
                    <div class="widget-content-outer">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left pr-2 fsize-1">
                                <div class="widget-numbers mt-0 fsize-3 text-success">54%</div>
                            </div>
                            <div class="widget-content-right w-100">
                                <div class="progress-bar-xs progress">
                                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="54" aria-valuemin="0" aria-valuemax="100" style="width: 54%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content-left fsize-1">
                            <div class="text-muted opacity-6">Casos com scrore baixo</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="card-shadow-warning mb-3 widget-chart widget-chart2 text-left card">
                <div class="widget-content">
                    <div class="widget-content-outer">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left pr-2 fsize-1">
                                <div class="widget-numbers mt-0 fsize-3 text-warning">32%</div>
                            </div>
                            <div class="widget-content-right w-100">
                                <div class="progress-bar-xs progress">
                                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width: 32%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content-left fsize-1">
                            <div class="text-muted opacity-6">Possíveis Fraudes</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="card-shadow-info mb-3 widget-chart widget-chart2 text-left card">
                <div class="widget-content">
                    <div class="widget-content-outer">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left pr-2 fsize-1">
                                <div class="widget-numbers mt-0 fsize-3 text-info">89%</div>
                            </div>
                            <div class="widget-content-right w-100">
                                <div class="progress-bar-xs progress">
                                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100" style="width: 89%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content-left fsize-1">
                            <div class="text-muted opacity-6">Casos análizados</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
